### 2 юнит

In [1]:
# Задание 2.4

empty_list = list()
print(empty_list)

[]

In [2]:
# Задание 2.5

another_empty_list = []
print(another_empty_list)

[]

In [7]:
a = range(1, 10)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
a = range(10)
list(a)

range(0, 10)

In [6]:
a = range(10, 1, -1)
list(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [9]:
# Задание 2.6

a = list(range(-10, 100))
a

[-10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [10]:
# Задание 2.7

b = list(range(50, 20, -2))
b

[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22]

In [15]:
a = ['a', 'b', 'c']

print(a[0])
print(a[2])
print(a[-1])

a
c
c

In [18]:
a = ["a", "b", "c", "d", "e"]

print(a[:2])
print(a[2:4])
print(a[0:4:2])
print(a[::-1])

['a', 'b']
['c', 'd']
['a', 'c']
['e', 'd', 'c', 'b', 'a']

In [21]:
# Задание 2.8

a = list(range(1, 11))
a_slice = a[:2]
print(a_slice)

[1, 2]

In [26]:
# Задание 2.9

a = list(range(-5, 6))
a[4:9]

[-1, 0, 1, 2, 3]

In [27]:
# Задание 2.10

a = list(range(-3, 7))[::-1]
a

[6, 5, 4, 3, 2, 1, 0, -1, -2, -3]

In [45]:
# Задание 2.11

my_str = 'hello kitty'
my_list = my_str.split()
print(my_list[-2:])

['hello', 'kitty']

In [47]:
orders_daily = []
print(orders_daily)

orders_daily.append('order1')
print(orders_daily)

[]
['order1']

In [49]:
# Задание 2.12

a = 'order1'
b = 'order2'
c = 'order3'
orders = []

orders.append(a)
orders.append(b)
orders.append(c)

print(orders)

['order1', 'order2', 'order3']

In [50]:
# Задание 2.13

book1 = 'my book'
book2 = 'your book'
books = ['all_books']

books.append(book1)
books.append(book2)

print(books)

['all_books', 'my book', 'your book']

In [52]:
a = ["order1", "order2", "order3", "order4"]
print(a)
a.clear()
a

['order1', 'order2', 'order3', 'order4']

[]

In [55]:
# Задание 2.14

letters = ['a', 'b', 'c', 'd', 'e']
print(letters)

letters.clear()
print(letters)

['a', 'b', 'c', 'd', 'e']
[]

In [56]:
a = ["a", "b", "c", "d", "b", "b", "g", "b", "r"]
a.count("b")

4

In [57]:
# Задание 2.15

numbers = [5, 5, 5, 1, 1, 7, 9, 3, 8, 2]
numbers.count(5)

3

In [59]:
a = [1, 2, 3]
b = a.copy()
b

[1, 2, 3]

In [60]:
a = [1, 2, 3]
b = a[:]
b

[1, 2, 3]

In [63]:
# Задание 2.16

my_books = ['book1', 'book2', 'book3', 'book4', 'book5']
tom_books = my_books.copy()

print(my_books, tom_books)

['book1', 'book2', 'book3', 'book4', 'book5'] ['book1', 'book2', 'book3', 'book4', 'book5']

In [64]:
# Задание 2.17

my_orders = ['order1', 'order2', 'order3', 'order4', 'order5']
anne_orders = my_orders[:]

print(my_orders, anne_orders)

['order1', 'order2', 'order3', 'order4', 'order5'] ['order1', 'order2', 'order3', 'order4', 'order5']

In [65]:
a = ['a', 'b', 'c']
b = ['d', 'e']

a.extend(b)
a

['a', 'b', 'c', 'd', 'e']

In [66]:
# Задание 2.18

all_things = ['order1', 'order2', 'order3']
only_books = ['book1', 'book2']
all_things.extend(only_books)
all_things

['order1', 'order2', 'order3', 'book1', 'book2']

In [67]:
a = [1, 2, 3, 4, 5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [69]:
a = [1, 2, 3, 4, 5]
b = a[::-1]
b

[5, 4, 3, 2, 1]

In [71]:
# Задание 2.19

nums = list(range(1, 11))
nums.reverse()
nums

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
a = [3, 4 ,1 ,5 ,10 ,0, 2]
a.sort()
a

[0, 1, 2, 3, 4, 5, 10]

In [73]:
# Задание 2.20

random_values = [3, 5, 0, -1, 2, 10, 15, -5]
random_values.sort()
random_values

[-5, -1, 0, 2, 3, 5, 10, 15]

In [74]:
# Задание 2.21

list1 = []
list1.append(5)
list1.append(0.2)
list1.append('hello there')
list1.append([1, 2, 3, 4])
list1.append('bye')
list1

[5, 0.2, 'hello there', [1, 2, 3, 4], 'bye']

In [75]:
# Задание 2.24

tpl = tuple()
tpl

()

In [76]:
# Задание 2.25

tpl2 = (255, )
tpl2

(255,)

In [77]:
# Задание 2.26

tpl3 = (15, 22, 0)
tpl3

(15, 22, 0)