### 2 юнит

In [100]:
# Задание 2.4

empty_list = list()
print(empty_list)

[]

In [101]:
# Задание 2.5

another_empty_list = []
print(another_empty_list)

[]

In [102]:
a = range(1, 10)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
a = range(10)
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
a = range(10, 1, -1)
list(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [105]:
# Задание 2.6

a = list(range(-10, 100))
a

[-10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [106]:
# Задание 2.7

b = list(range(50, 20, -2))
b

[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22]

In [107]:
a = ['a', 'b', 'c']

print(a[0])
print(a[2])
print(a[-1])

a
c
c

In [108]:
a = ["a", "b", "c", "d", "e"]

print(a[:2])
print(a[2:4])
print(a[0:4:2])
print(a[::-1])

['a', 'b']
['c', 'd']
['a', 'c']
['e', 'd', 'c', 'b', 'a']

In [109]:
# Задание 2.8

a = list(range(1, 11))
a_slice = a[:2]
print(a_slice)

[1, 2]

In [110]:
# Задание 2.9

a = list(range(-5, 6))
a[4:9]

[-1, 0, 1, 2, 3]

In [111]:
# Задание 2.10

a = list(range(-3, 7))[::-1]
a

[6, 5, 4, 3, 2, 1, 0, -1, -2, -3]

In [112]:
# Задание 2.11

my_str = 'hello kitty'
my_list = my_str.split()
print(my_list[-2:])

['hello', 'kitty']

In [113]:
orders_daily = []
print(orders_daily)

orders_daily.append('order1')
print(orders_daily)

[]
['order1']

In [114]:
# Задание 2.12

a = 'order1'
b = 'order2'
c = 'order3'
orders = []

orders.append(a)
orders.append(b)
orders.append(c)

print(orders)

['order1', 'order2', 'order3']

In [115]:
# Задание 2.13

book1 = 'my book'
book2 = 'your book'
books = ['all_books']

books.append(book1)
books.append(book2)

print(books)

['all_books', 'my book', 'your book']

In [116]:
a = ["order1", "order2", "order3", "order4"]
print(a)
a.clear()
a

['order1', 'order2', 'order3', 'order4']

[]

In [117]:
# Задание 2.14

letters = ['a', 'b', 'c', 'd', 'e']
print(letters)

letters.clear()
print(letters)

['a', 'b', 'c', 'd', 'e']
[]

In [118]:
a = ["a", "b", "c", "d", "b", "b", "g", "b", "r"]
a.count("b")

4

In [119]:
# Задание 2.15

numbers = [5, 5, 5, 1, 1, 7, 9, 3, 8, 2]
numbers.count(5)

3

In [120]:
a = [1, 2, 3]
b = a.copy()
b

[1, 2, 3]

In [121]:
a = [1, 2, 3]
b = a[:]
b

[1, 2, 3]

In [122]:
# Задание 2.16

my_books = ['book1', 'book2', 'book3', 'book4', 'book5']
tom_books = my_books.copy()

print(my_books, tom_books)

['book1', 'book2', 'book3', 'book4', 'book5'] ['book1', 'book2', 'book3', 'book4', 'book5']

In [123]:
# Задание 2.17

my_orders = ['order1', 'order2', 'order3', 'order4', 'order5']
anne_orders = my_orders[:]

print(my_orders, anne_orders)

['order1', 'order2', 'order3', 'order4', 'order5'] ['order1', 'order2', 'order3', 'order4', 'order5']

In [124]:
a = ['a', 'b', 'c']
b = ['d', 'e']

a.extend(b)
a

['a', 'b', 'c', 'd', 'e']

In [125]:
# Задание 2.18

all_things = ['order1', 'order2', 'order3']
only_books = ['book1', 'book2']
all_things.extend(only_books)
all_things

['order1', 'order2', 'order3', 'book1', 'book2']

In [126]:
a = [1, 2, 3, 4, 5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [127]:
a = [1, 2, 3, 4, 5]
b = a[::-1]
b

[5, 4, 3, 2, 1]

In [128]:
# Задание 2.19

nums = list(range(1, 11))
nums.reverse()
nums

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [129]:
a = [3, 4 ,1 ,5 ,10 ,0, 2]
a.sort()
a

[0, 1, 2, 3, 4, 5, 10]

In [130]:
# Задание 2.20

random_values = [3, 5, 0, -1, 2, 10, 15, -5]
random_values.sort()
random_values

[-5, -1, 0, 2, 3, 5, 10, 15]

In [131]:
# Задание 2.21

list1 = []
list1.append(5)
list1.append(0.2)
list1.append('hello there')
list1.append([1, 2, 3, 4])
list1.append('bye')
list1

[5, 0.2, 'hello there', [1, 2, 3, 4], 'bye']

In [132]:
# Задание 2.24

tpl = tuple()
tpl

()

In [133]:
# Задание 2.25

tpl2 = (255, )
tpl2

(255,)

In [134]:
# Задание 2.26

tpl3 = (15, 22, 0)
tpl3

(15, 22, 0)

### 3 юнит

In [135]:
phones = {
    '+79033923029': 'Ivan Ivanov',
    '+78125849204': 'Kirill Smirnov',
    '+79053049385': 'Mark Parkhomenko',
    '+79265748370': 'Ekaterina Dmitrieva',
    '+79030598495': 'Ruslan Belyi'}

phones['+79265748370']

'Ekaterina Dmitrieva'

In [136]:
d = {'a': 1, 'b': 3, 'a':5}
d['a']

5

In [137]:
# Задание 3.4

empty_dict = dict()
print(empty_dict)

{}

In [138]:
# Задание 3.5

empty_dict1 = dict()
empty_dict2 = {}

print(empty_dict1, empty_dict2)

{} {}

In [139]:
# Задание 3.6

alphbet_dict = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5
}

alphbet_dict['d']

4

In [140]:
# Задание 3.7

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money[2]

50

In [141]:
print(phones)

phones["+79686581788"]  = 'Artem Pliev'
print(phones)

{'+79033923029': 'Ivan Ivanov', '+78125849204': 'Kirill Smirnov', '+79053049385': 'Mark Parkhomenko', '+79265748370': 'Ekaterina Dmitrieva', '+79030598495': 'Ruslan Belyi'}
{'+79033923029': 'Ivan Ivanov', '+78125849204': 'Kirill Smirnov', '+79053049385': 'Mark Parkhomenko', '+79265748370': 'Ekaterina Dmitrieva', '+79030598495': 'Ruslan Belyi', '+79686581788': 'Artem Pliev'}

In [142]:
# Задание 3.8

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money[4] = 5
print(place_and_money)

{1: 100, 2: 50, 3: 10, 4: 5}

In [143]:
# Задание 3.9

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money[3] = 25
print(place_and_money)

{1: 100, 2: 50, 3: 25}

In [144]:
friends = {"Kolya": 180, "Marina": 176, "Misha": 158, "Dima": 201, "Yana": 183, "Nina": 156}
friends

{'Kolya': 180,
 'Marina': 176,
 'Misha': 158,
 'Dima': 201,
 'Yana': 183,
 'Nina': 156}

In [145]:
# friends.clear()
# friends

In [146]:
# Задание 3.10

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money.clear()
place_and_money

{}

In [147]:
friends.keys()

dict_keys(['Kolya', 'Marina', 'Misha', 'Dima', 'Yana', 'Nina'])

In [148]:
# Задание 3.11

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money.keys()

dict_keys([1, 2, 3])

In [149]:
# Задание 3.12

name_to_age = {
    'Anne': 22,
    'Anton': 27,
    'Phillip': 30
}

name_to_age.keys()

dict_keys(['Anne', 'Anton', 'Phillip'])

In [150]:
friends.values()

dict_values([180, 176, 158, 201, 183, 156])

In [151]:
# Задание 3.13

name_to_age = {
    'Anne': 22,
    'Anton': 27,
    'Phillip': 30
}

name_to_age.values()

dict_values([22, 27, 30])

In [152]:
# Задание 3.14

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money.values()

dict_values([100, 50, 10])

In [153]:
print(friends)
friends['Matvey']

{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156}

KeyError: 'Matvey'

In [33]:
friends.get('Matvey', "I don't have a friend with such a name.")

"I don't have a friend with such a name."

In [34]:
# Задание 3.15

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money.get(20, 0)

0

In [35]:
# Задание 3.16

name_to_age = {
    'Anne': 22,
    'Anton': 27,
    'Phillip': 30
}

name_to_age.get('Danny', -1)

-1

In [37]:
print(friends)

friends.update({
    'Stas': 171,
    'Nastya': 163
})

print(friends)

{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156}
{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 171, 'Nastya': 163}

In [38]:
friends.update({
    'Stas': 183
})

print(friends)

{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156, 'Stas': 183, 'Nastya': 163}

In [39]:
# Задание 3.17

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money.update({
    4: 5,
    5: 1
})

place_and_money

{1: 100, 2: 50, 3: 10, 4: 5, 5: 1}

In [40]:
# Задание 3.18

name_to_age = {
    'Anne': 22,
    'Anton': 27,
    'Phillip': 30
}

name_to_age.update({
    'Anne': 23,
    'Phillip': 29
})

name_to_age

{'Anne': 23, 'Anton': 27, 'Phillip': 29}

In [154]:
print(friends)

best_friend_height = friends.pop('Misha')
print(friends)
print(best_friend_height)

{'Kolya': 180, 'Marina': 176, 'Misha': 158, 'Dima': 201, 'Yana': 183, 'Nina': 156}
{'Kolya': 180, 'Marina': 176, 'Dima': 201, 'Yana': 183, 'Nina': 156}
158

In [155]:
# Задание 3.19

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

result = place_and_money.pop(3)
result

10

In [156]:
# Задание 3.20

name_to_age = {
    'Anne': 22,
    'Anton': 27,
    'Phillip': 30
}

result = name_to_age.pop('Anton')
result

27

In [160]:
friends = {'Kolya': 180, 'Marina': 176, 'Dima': 201, 'Yana"': 183, 'Nina': 156, 'Stas': 183, 'Nastya': 163}
print(friends)

friends.setdefault('Nastya', 100)
print(friends['Nastya'])

{'Kolya': 180, 'Marina': 176, 'Dima': 201, 'Yana"': 183, 'Nina': 156, 'Stas': 183, 'Nastya': 163}
163

In [163]:
print(friends.keys())

friends.setdefault('Alena', 170)
print(friends['Alena'])
print(friends)

dict_keys(['Kolya', 'Marina', 'Dima', 'Yana"', 'Nina', 'Stas', 'Nastya'])
170
{'Kolya': 180, 'Marina': 176, 'Dima': 201, 'Yana"': 183, 'Nina': 156, 'Stas': 183, 'Nastya': 163, 'Alena': 170}

In [164]:
# Задание 3.21

place_and_money = {
    1: 100,
    2: 50,
    3: 10
}

place_and_money.setdefault(10, 1)
print(place_and_money)

{1: 100, 2: 50, 3: 10, 10: 1}

In [165]:
# Задание 3.22

name_to_age = {
    'Anne': 22,
    'Anton': 27,
    'Phillip': 30
}

name_to_age.setdefault('Anne', 32)
print(name_to_age)

{'Anne': 22, 'Anton': 27, 'Phillip': 30}

In [166]:
# Задание 3.23

test_dict = {
    5: [3, 4, 5]
}

test_dict[(3, 4, 5)] = 'strong man'

print(test_dict)

{5: [3, 4, 5], (3, 4, 5): 'strong man'}

In [168]:
# Задание 3.24

test_dict2 = {
    'name': 'Sancho',
    'surname': 'Panso',
    'info': {
        'age': 35,
        'country': 'Mexico'
    }
}

print(test_dict2)

{'name': 'Sancho', 'surname': 'Panso', 'info': {'age': 35, 'country': 'Mexico'}}

In [171]:
# Задание 3.25

test_dict3 = {
    'info': [10, 15, 27],
    'about': {
        'game': 'football',
        'period': 5
    }
}
print(test_dict3)

test_dict3['about'] = 'dont know'
print(test_dict3)

{'info': [10, 15, 27], 'about': {'game': 'football', 'period': 5}}
{'info': [10, 15, 27], 'about': 'dont know'}

### 4 юнит

In [172]:
set1 = set()
set1

set()

In [175]:
s1 = set('hello')
s1

{'e', 'h', 'l', 'o'}

In [176]:
s1 = {}
type(s1)

dict

In [177]:
s1 = {1}
type(s1)

set

In [178]:
# Задание 4.1

s1 = set()
print(s1)

set()

In [ ]:
# Задание 4.2

s2 = {5, 10, 3, 2, 11}

In [179]:
# Задание 4.3

s3 = set('wow thats cool')
print(s3)

{' ', 'o', 'w', 't', 'h', 'c', 'a', 'l', 's'}

In [183]:
s = {1, 2, 3, 4}
s.add(5)
print(s)

s.update({6, 7, 8})
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [184]:
# Задание 4.4

s1 = {'a', 'b', 'c', 'd', 'e'}
s1.add('hello')
print(s1)

{'b', 'hello', 'e', 'c', 'a', 'd'}

In [185]:
s1 = {1,2,3,4,5}
s1.remove(10)

KeyError: 10

In [186]:
s1.discard(10)

In [187]:
# Задание 4.5

s1 = {'a', 'b', 'c', 'd', 'e'}
s1.remove('d')
print(s1)

{'b', 'e', 'c', 'a'}

In [189]:
# Задание 4.6

s1 = {'a', 'b', 'c', 'd', 'e', 'f'}
s1.discard('f')
print(s1)

{'b', 'e', 'c', 'a', 'd'}

In [190]:
# Задание 4.7

s1 = {'a', 'b', 'c', 'd', 'e', 'f'}
s1.remove('f')
print(s1)

{'b', 'e', 'c', 'a', 'd'}

In [191]:
cluster1 = {"item1", "item2", "item3", "item4"}
cluster2 = {"item2", "item3", "item5", "item7"}

cluster1.union(cluster2)

{'item1', 'item2', 'item3', 'item4', 'item5', 'item7'}

In [200]:
# Задание 4.8

alpha_set = {'a', 'b', 'c', 'd', 'e'}
name = set('bad boy')

alpha_set.union(name)

{' ', 'a', 'b', 'c', 'd', 'e', 'o', 'y'}

In [202]:
# Задание 4.9

num_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
date_num = set([1, 9, 4, 8])

num_set.union(date_num)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [203]:
cluster1 = {"item1", "item2", "item3", "item4"}
cluster2 = {"item2", "item3", "item5", "item7"}

cluster1.intersection(cluster2)

{'item2', 'item3'}

In [204]:
# Задание 4.10

alpha_set = {'a', 'b', 'c', 'd', 'e'}
name = set('bad boy')

alpha_set.intersection(name)

{'a', 'b', 'd'}

In [205]:
# Задание 4.11

num_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
date_num = set([1, 9, 4, 8])

num_set.intersection(date_num)

{1, 4, 8, 9}

In [206]:
cluster1 = {"item1", "item2", "item3", "item4", "item5"}
cluster2 = {"item3", "item4", "item5", "item6"}

cluster1.difference(cluster2)

{'item1', 'item2'}

In [207]:
# Задание 4.12

alpha_set = {'a', 'b', 'c', 'd', 'e'}
name = set('bad boy')

alpha_set.difference(name)

{'c', 'e'}

In [208]:
# Задание 4.13

num_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
date_num = set([1, 9, 4, 8])

num_set.difference(date_num)

{0, 2, 3, 5, 6, 7, 10}

In [209]:
cluster1 = {"item1", "item2", "item3"}
cluster2 = {"item2", "item3", "item4", "item5", "item6"}

cluster1.issubset(cluster2)

False

In [210]:
cluster1 = {"item1", "item2", "item3"}
cluster2 = {"item2", "item3", "item4", "item5", "item6", "item1"}

cluster1.issubset(cluster2)

True

### 5 юнит

In [217]:
int_var = 10
float_var = float(int_var)+0.2
print(int_var)
print(float_var)

10
10.2

In [218]:
float_var += 0.2
int_var + float_var

20.4

In [220]:
# Задание 5.1

a = 3
b = float(a)

print(b)

3.0

In [222]:
# Задание 5.2

num1 = 3
num2 = 3.5

sum1 = num1+num2

num1 = float(num1)
sum2 = num1+num2

print(sum1, sum2)

6.5 6.5

In [229]:
str_var1 = 'I am '
int_var1 = 10
str_var2 = ' years old'

str_var1 + int_var1 + str_var2

TypeError: can only concatenate str (not "int") to str

In [230]:
str_var1 + str(int_var1) + str_var2

'I am 10 years old'

In [231]:
# Задание 5.3

int_one = 1
str_one = str(int_one)

print(str_one)

1

In [232]:
# Задание 5.4

str_age_begin = 'my age is '
int_age = 18

result_string = str_age_begin + str(int_age)

print(result_string)

my age is 18

In [233]:
# Задание 5.5

str_brothers_begin = 'I have '
count = 5
str_brothers_end = ' brothers'

result_sentence = str_brothers_begin + str(count) + str_brothers_end

print(result_sentence)

I have 5 brothers

In [234]:
# Задание 5.6

s = 'hello world'
int(s)

ValueError: invalid literal for int() with base 10: 'hello world'

In [235]:
# Задание 5.7

s = '10'
int(s)

10

In [236]:
# Задание 5.8

s = '11'
float(s)

11.0

In [237]:
# Задание 5.9

s = '50.4'
int(s)

ValueError: invalid literal for int() with base 10: '50.4'

In [238]:
dictionary = {
    'Anne': 15,
    'Sam': 30,
    'Marie': 22
}

only_keys = list(dictionary.keys())
only_keys + ['Tom', 'Curt']

['Anne', 'Sam', 'Marie', 'Tom', 'Curt']

In [241]:
d = {}
input_list = ['Collin', 23, 'LA']
input_place = '2nd place'

d[tuple(input_list)] = input_place
d

{('Collin', 23, 'LA'): '2nd place'}

In [242]:
# Задание 5.10

list1 = [1, 2, 3, 4, 5]
tpl1 = tuple(list1)
tpl1

(1, 2, 3, 4, 5)

In [245]:
# Задание 5.11

tpl1 = ('a', 'b', 'c', 'd', 'e')
list2 = list(tpl1)
list2

['a', 'b', 'c', 'd', 'e']

### 6 юнит

In [246]:
# Задание 6.1

list1 = []

list1.append(1)
list1.append(2)
list1.append(3)

print(list1)

[1, 2, 3]

In [252]:
# Задание 6.2

list2 = list(range(-5, 15, 2))
list3 = [1, 2, 3, 4]

list3.extend(list2)

print(list3)

[1, 2, 3, 4, -5, -3, -1, 1, 3, 5, 7, 9, 11, 13]

In [261]:
# Задание 6.3

list6 = [3, 1, -10, 5, 11, 20, 1, -10]
list7 = list6.copy()

list6.sort()
list_result = list6[::-1]

print(list7, list_result)

[3, 1, -10, 5, 11, 20, 1, -10] [20, 11, 5, 3, 1, 1, -10, -10]

In [262]:
# Задание 6.4

list1 = [10, 15]
tpl1 = tuple(list1)

dict1 = {}
dict1[tpl1] = 'hello'

print(dict1)

{(10, 15): 'hello'}

In [265]:
# Задание 6.5

dict1 = {'name': 'unknown'}
dict2 = {'name': 'Tom'}

print(dict1, dict2)
print(dict1.keys(), dict1.values())

{'name': 'unknown'} {'name': 'Tom'}
dict_keys(['name']) dict_values(['unknown'])

In [271]:
# Задание 6.6

s1 = set('hello')
s2 = set(['w', 'o', 'w'])

print(s1.union(s2), s1.intersection(s2), s1.difference(s2))

{'h', 'e', 'o', 'l', 'w'} {'o'} {'l', 'h', 'e'}

In [272]:
# Задание 6.7

result = 'age is ' + str(15)

print(result)

age is 15

In [282]:
# Вопрос 11

dic1 = {'c':3, 'd':4, 'b':2, 'a':1}

sorted(dic1.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [284]:
# Вопрос 12

s = 'A string with white space'

''.join(s.split())

'Astringwithwhitespace'

In [285]:
# Вопрос 13

d = {'id':7, 'name':'Shiba', 'color':'brown', 'speed':'very slow'}

list(d)

['id', 'name', 'color', 'speed']

In [289]:
# Вопрос 14

s = 'A string with white space'

print(s.lower())
print(s.upper())

a string with white space
A STRING WITH WHITE SPACE