### 1 юнит

In [173]:
import pandas as pd

# Подгрузка датасета для задач
melb_data = pd.read_csv('data/melb_data_ps.zip')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

### 2 юнит

In [174]:
# Копируем датасет для дальнейшей работы
melb_df = melb_data.copy()
melb_df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [175]:
# Удалим не информативные столбцы
melb_df = melb_df.drop(labels=['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [176]:
# Создадим переменную Series, который будет суммой всех комнат
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

In [177]:
# Создадим признак, который будет представлять собой среднюю площадь комнаты
melb_df['MeanRoomsArea'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsArea'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsArea, Length: 13580, dtype: float64

In [178]:
# Создадим новый столбец, который будет коэффициентом
# соотношения площади здания к площади земельного участка
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRation'] = diff_area / sum_area
display(melb_df['AreaRation'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRation, Length: 13580, dtype: float64

In [179]:
# Задание 2.3

import pandas as pd


# Исходный DataFrame с данными о клиентах
customer_df = pd.DataFrame({
    'number': [0, 1, 2, 3, 4],
    'cust_id': [128, 1201, 9832, 4392, 7472],
    'cust_age': [13, 21, 19, 21, 60],
    'cust_sale': [0, 0, 0.2, 0.15, 0.3],
    'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
    'cust_order': [1400, 14142, 900, 1240, 8430]
    })


def delete_columns(df, col=[]):
    """ Удаляет указанные столбцы из DataFrame.
    Args:
        df (pd.DataFrame): DataFrame, из которого будут удалены столбцы.
        col (list, optional): Список столбцов для удаления. По умолчанию [].

    Returns:
        pd.DataFrame: DataFrame с удаленными указанными столбцами.
    """

    # Проверка на наличие столбцов в DataFrame
    for coli in col:
        if coli not in df.columns: return None
    
    # Удаление столбцов и возврат результата
    result = df.drop(columns=col, axis=1)
    return result


# df = delete_columns(customer_df, ['cust_sale2', 'cust_age2'])
# df = delete_columns(customer_df, ['cust_sale2', 'not_existing_col'])
df = delete_columns(customer_df, ['cust_sale'])
df.head()

   number  cust_id  cust_age  cust_year_birth  cust_order
0       0      128        13             2008        1400
1       1     1201        21             2000       14142
2       2     9832        19             2002         900
3       3     4392        21             2000        1240
4       4     7472        60             1961        8430

In [180]:
# Задание 2.4

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })

# Рассчитываем плотность населения (количество человек на квадратный километр).
countries_df['density'] = (countries_df.population * 1_000_000) / countries_df.area

# Рассчитайте среднее по плотностям населения в указанных странах
print(round(countries_df['density'].mean(), 2))

84.93

### 3 юнит

In [181]:
# Изменяем формат даты в столбце 'Date' на формат datetime
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [182]:
# Выделяем год продажи и считаем количество продаж по годам
years_sold = melb_df['Date'].dt.year
print('Year sales: ', years_sold.value_counts(), sep='\n')

Year sales:
Date
2017    7244
2016    6336
Name: count, dtype: int64

In [183]:
# Выделяем месяц продажи и считаем количество продаж по месяцам
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

MonthSale
5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: proportion, dtype: float64

In [184]:
# Считаем сколько дней прошло с начала 2016 года до каждой даты в столбце 'Date'
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days )

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

In [185]:
# Преобразуем формат timedelta в количество дней
display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [186]:
# Создадим признак возраста здания на момент продажи,
# а также удалим уже не нужный столбец
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df = melb_df.drop('YearBuilt', axis=1)
display(melb_df['AgeBuilding'])

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

In [187]:
# Задание 3.3

# Через аксессор выделим день недели продажи, 
# а потом посчитаем кол-во продаж в выходные дни
melb_df['WeekdaySale'] = melb_df['Date'].dt.day_of_week
saturday_sales = melb_df['WeekdaySale'].value_counts()[5]
sunday_sales = melb_df['WeekdaySale'].value_counts()[6]
weekend_count = saturday_sales + sunday_sales
print(weekend_count)

12822

In [188]:
# Датасет для заданий ниже
ufo_df = pd.read_csv('data/ufo.csv')
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'])
ufo_df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [189]:
# Задание 3.4

# В каком году отмечается наибольшее количество случаев наблюдения НЛО
ufo_df['Time'].dt.year.mode()[0]

1999

In [190]:
# Задание 3.5

# Найдите средний интервал времени (в днях) между двумя
# последовательными случаями наблюдения НЛО в штате Невада (NV).

ufo_NV = ufo_df[ufo_df['State'] == 'NV']    # фильтруем по штату Невада
ufo_date = ufo_NV['Time'].dt.date           # выделяем дату из столбца 'Time'
ufo_date_diff = ufo_date.diff()             # находим разницу между датами
round(ufo_date_diff.dt.days.mean())         # считаем среднее значение разницы в днях

69

### 4 юнит

In [191]:
# Выводим кол-во уникальных адресов
melb_df['Address'].nunique()

13378

In [192]:
# Уменьшаем кол-во уникальных адресов, оставляя только подтип улицы

def get_street_type(address):
    """ Получает подтип улицы из адреса, исключая географические направления.

    Args:
        address (str): Адрес в виде строки, содержащей название улицы и подтип улицы.

    Returns:
        str: Подтип улицы, исключая географические направления.
    """    

    exclude_list = ['N', 'S', 'W', 'E'] # список исключаемых географических направлений
    address_list = address.split(' ')   # разбиваем адрес на части
    street_type = address_list[-1]      # берем последний элемент как подтип улицы

    # Проверяем, если подтип улицы в списке исключений
    if street_type in exclude_list:
        # Если в исключаемом списке, берем предпоследний элемент
        street_type = address_list[-2]

    return street_type


street_types = melb_df['Address'].apply(get_street_type)    # применяем функцию
street_types.nunique()                                      # количество уникальных подтипов улиц

56

In [193]:
# Найдем 10 наиболее популярных подтипов улиц
popular_stypes = street_types.value_counts().nlargest(10).index

In [194]:
# Сократим подтипы улиц до 10 наиболее популярных и остальных
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
melb_df['StreetType'].nunique()

11

In [195]:
# Удалим столбец 'Address', так как он больше не нужен
melb_df = melb_df.drop('Address', axis=1)

In [196]:
# Задание 4.2

# Создаем признак выходного дня на основе столбца 'WeekdaySale'
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(lambda x: 1 if x in (5, 6) else 0)

# Средняя проданного объекта недвижимости в выходные дни
round(melb_df[melb_df['Weekend'] == 1]['Price'].mean())

1081199

In [197]:
# Задание 4.3

# Сокращаем количество уникальных продавцов недвижимости до 49
sellers_list = melb_df['SellerG'].value_counts().nlargest(49)
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in sellers_list else 'other')

nelson_min_price = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
other_min_price = melb_df[melb_df['SellerG'] == 'other']['Price'].min()

# Во сколько раз минимальная цена недвижимости, проданная Nelson,
# меньше минимальной цены недвижимости,проданной другими продавцами
round(nelson_min_price / other_min_price, 1)

1.3

In [198]:
# Задание 4.4

def get_experience(arg):
    """ Функция для подсчета опыта в месяцах на основе строки с годами и месяцами.

    Args:
        arg (str): Строка, содержащая количество лет и месяцев опыта.

    Returns:
        int: Общее количество опыта в месяцах.
    """    

    experience = 0  # инициализируем переменную опыта
    arg_splitted = arg.split(' ')   # разбиваем строку на части

    # Списки для поиска индикаторов года и месяца
    year_list = ['лет', 'год', 'года']
    month_list = ['месяца', 'месяцев', 'месяц']

    # Проходим по каждому элементу в разбитой строке
    for i, arg in enumerate(arg_splitted):

        # Если элемент является годом, то умножаем на 12 и добавляем к опыту
        for year in year_list:
            if arg == year:
                # i-1 это индекс числа перед словом год
                experience += int(arg_splitted[i-1]) * 12
        
        # Если элемент является месяцем, то добавляем к опыту
        for month in month_list:
            if arg == month:
                 # i-1 это индекс числа перед словом месяц
                experience += int(arg_splitted[i-1])

    return experience


# Проверим работу функции на примере серии с опытом работы
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'])

test_series_2 = pd.Series([
    'Опыт работы 5 лет',
    'Опыт работы 5 месяцев',
    'Опыт работы 1 год 1 месяц',
    'Опыт работы 3 месяца',
    'Опыт работы 7 лет'
])

print(test_series_1.apply(get_experience))
print(test_series_2.apply(get_experience))

0    99
1    41
2    21
3     3
4    72
dtype: int64
0    60
1     5
2    13
3     3
4    84
dtype: int64

In [199]:
test_series_1

0      Опыт работы 8 лет 3 месяца
1    Опыт работы 3 года 5 месяцев
2     Опыт работы 1 год 9 месяцев
3            Опыт работы 3 месяца
4               Опыт работы 6 лет
dtype: object