### 2 юнит

In [2]:
income_2019 = 15
income_2020 = 16.5
income_2021 = 16.5

# сравним прибыли на каждый год между собой
print(income_2019 == income_2020)
print(income_2020 == income_2021)

False
True

In [3]:
a = 14
a == 150

False

In [4]:
# сравним прибыли с помощью >=
print(income_2019 >= income_2020)
print(income_2020 >= income_2021)

False
True

In [14]:
print(ord('A'))    # Unicode
print(ord('a'))

65
97

In [13]:
name_user_1029 = 'Andrey'
name_user_1040 = 'Vladimir'
name_user_1042 = 'Andrey'

print(name_user_1029 == name_user_1040)
print(name_user_1029 == name_user_1042)

False
True

In [34]:
# target_string = 'коту тащат уток'
# target_string = 'Шалаш'
target_string = 'кота тащат в шалаш'

target_string_new = target_string.lower().replace(' ', '')[::-1]
result = target_string_new == target_string.lower().replace(' ', '')

result

False

In [38]:
print(not True)
print(not False)
print(not (5 == 10))
print(not ('abc' != 'bca'))

False
True
True
False

In [39]:
# находится ли значение в промежутке 0-4
a = 1
cond1 = 0 < a
cond2 = 4 > a
print(cond1 and cond2)

True

In [41]:
sym = 't'
cond3 = sym in 'Python'
cond4 = sym in 'django'
print(cond3 and cond4)

False

In [42]:
word1 = 'Institute'
word2 = 'University'
target_string = 'I graduated from the Moscow Aviation Institute in 2015, after which I got a job at…'
print((word1 in target_string) or (word2 in target_string))

True

In [43]:
print(('t' in 'Python') or ('t' in 'django'))

True

In [81]:
# Задание 2.8

a, b, c = 2, 5, 10
# a, b, c = 3, 5, 8

result = (a**2 > b) and (a**2 > c)

print(result)

False

In [80]:
# Задание 2.9

# diagnosis_1, diagnosis_2, diagnosis_3 = 'yes', 'yes', 'no'
diagnosis_1, diagnosis_2, diagnosis_3 = 'no', 'no', 'no'

result = (diagnosis_1 == 'yes') or (diagnosis_2 == 'yes') or (diagnosis_3 == 'yes')

print(result)

False

In [97]:
a = 'Hello World!'
print(id(a))    # id будет меняться каждый раз

2103497108976

In [101]:
a = 'simple string'
b = a
print(id(a), id(b))

2103466160240 2103466160240

In [102]:
print(id(a) == id(b))
print(a is b)

True
True

In [111]:
a = 15.35
b = 15.35
print(id(a), id(b))
print(a == b)
print(a is b)

2103444425072 2103496759280
True
False

In [106]:
x = 256
y = 256
print(id(x), id(y))
print(x == y, x is y)

140729065232792 140729065232792
True True

### 3 юнит

In [127]:
# Задача №1

orders = {
    '2022-10-10': ['F124', 'D89D', '142L'],
    '2022-10-11': ['H241', 'OR24', 'BE14', '348F'],
    '2022-10-12': ['H429', 'JAS2']
    }

target_string = 'BE14'

# поступал ли заказ в один из дней
print((target_string in orders['2022-10-10']) or \
      (target_string in orders['2022-10-11']) or \
      (target_string in orders['2022-10-12'])
    )

True

In [128]:
# Задача №2

message = 14693539613536593

print('5' not in str(message)[:6])

False

In [132]:
# Задание 3.1

N = 12043879584
# N = 59005085801
# N = 1023659713
# N = 1000000
# N = 3000000
# N = 17200000

contains = ('3' in str(N)) and ('7' in str(N))
print(contains)

True

In [139]:
# Задание 3.2

x, y = 'F', 7
# x, y = 'K', 1
# x, y = 'D', 2
# x, t = 'P', 2
# x, y = 'F', 15
# x, y = 'L', 9

hor = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
vert = list(range(1, 9))

move_is_correct = (x in hor) and (y in vert)

print(move_is_correct)

False

In [165]:
# Задача №3

available_packages = 105
total_count = 1677

cond1 = total_count % 13 == 0
cond2 = total_count // 13 <= available_packages
result = cond1 and cond2

print(result)

False

In [178]:
# Задание 3.3

N = 782
# N = 45901
# N = 2
# N = 15
# N = 0

source_num = int(str(N)[0])
first_is_even = (source_num % 2 == 0)

print(first_is_even)

False

In [199]:
# Задание 3.4

year = 2000
# year = 1900
# year = 2015
# year = 2022
# year = 2023

cond1 = year % 400 == 0
cond2 = (year % 4 == 0) and (year % 100 == 0)
year_is_leap = cond1 and cond2

print(year_is_leap)

False

In [217]:
# Задание 3.5

n, m, k = 5, 4, 8
# n, m, k = 5, 4, 3
# n, m, k = 5, 4, 25
# n, m, k = 4, 2, 8
# n, m, k = 4, 4, 7
# n, m, k = 4, 2, 9

cond1 = (n <= k) and (m <= k)
cond2 = (n*m) > k
cond3 = k % 2 == 0
result = cond1 and cond2 and cond3

print(result)

True

In [226]:
n = None
print(id(n))
n = None
print(id(n))

140729064179664
140729064179664

In [227]:
name = None
surname = None
second_name = None

print(name)

None

In [229]:
print(
    (id(name) == id(surname)) and \
    (id(surname) == id(second_name))
    )

True

In [231]:
print(surname is None)

True

In [234]:
# Задание 3.6

# phone = '+7 927 124 42 12'
phone = None

phone_is_defined = phone is not None

print(phone_is_defined)

False

In [237]:
product_dict = {'Сок яблочный': 15, 'Сок тыквенный': 10, 'Сок ананасовый': 5}
value = product_dict.get('Сок яблочный')
print(value)
print(value is None)

15
False

In [242]:
# Задание 3.7

invoice_number = '148902'
# invoice_number = '892421'
# invoice_number = '32'
# invoice_number = '893516'

arrival_of_goods = {
    '148902': {
        'Футболка с принтом': 180,
        'Свитшот черный': 245,
        'Джинсы серые': 252
    },
    '893516': {
        'Футболка с принтом': 43,
        'Свитшот черный': 64,
        'Джинсы черные': 102
    },
    '893481': {
        'Кружка керамическая': 35,
        'Свитшот черный': 10,
        'Джинсы сервые': 14
    }
}

invoice_exists = arrival_of_goods.get(invoice_number) is not None

True

### 4 юнит

In [243]:
is_rainy = True

if is_rainy:
    print("Take an umbrella")
else:
    print("Don't take an umbrella")

Take an umbrella

In [246]:
a = 2**10
b = 3**5
# a = 3**5
# b = 2**10

if a > b:
    print('Value of variable a > value of variable b')
else:
    print('Value of variable a <= value of variable b')

Value of variable a > value of variable b

In [254]:
# target_word = 'and'
target_word = 'on'
words = ['and', 'or', 'not']

if target_word in words:
    print('String "{}" is in list'.format(target_word))

print('{} - target word'.format(target_word))
print('{} - list of words'.format(words))

on - target word
['and', 'or', 'not'] - list of words

In [255]:
# Задание 4.3

mx = 0
s = 0
x = -5

if x < 0:
    s = x
    
if x > mx:
        mx = x
        
print(s)
print(mx)

-5
0

In [259]:
# Задание 4.4

people_count = 5
# people_count = 10
# people_count = 15

if people_count < 10:
    print('Добро пожаловать!')
else:
    print('Всё занято. Подождите!')

Добро пожаловать!

In [264]:
# Задание 4.5

password = '879f2aabS'
answer = '879f2aabS'
# password = '879f2aabS'
# answer = '879f2aabs'
# password = '879f22bS'
# answer = '879f22bS'
# password = '123456789'
# answer = '2365987'

if password == answer:
    print('Добро пожаловать!')
else:
    print('Вы ввели неверный пароль!')

Добро пожаловать!

In [266]:
# Задание 4.6

name = 'Андрей'
age = 21
# name = 'Павел'
# age = 17
# name = 'Игорь'
# age = 23
# name = 'Ольга'
# age = 12

if age > 18:
    print(f'Добрый вечер, {name}!')
else:
    print(f'Привет, {name}! Приносим свои извинения, но вы не можете гулять после 22:00')

Привет, Павел! Приносим свои извинения, но вы не можете гулять после 22:00

In [267]:
is_rainy = True
is_heavy_rain = False

if is_rainy:
    if is_heavy_rain:
        print("Take an umbrella")
    else:
        print("Put on a raincoat")
else:
    print("Don't take an umbrella")

Put on a raincoat

In [271]:
# credit_history = 'good'     # кредитная история
# deposit = True              # есть ли залог
# guarantors = False          # есть ли поручители
# credit = 500.0              # сумма долга
credit_history = 'bad'
deposit = True
guarantors = False
credit = 3000.0

if credit_history == 'bad':
    if deposit:
        if guarantors:
            print('Выдать')
        else:
            print('Не выдавать')
    else:
       print('Не выдавать') 
else:
    if credit < 1000:
        print('Выдать')
    else:
        print('Не выдавать')

Не выдавать

In [272]:
cond1 = credit_history == 'bad' and deposit and guarantors
cond2 = credit_history == 'good' and credit < 1000

if cond1 or cond2:
    print('Выдать')
else:
    print('Не выдавать')

Не выдавать

In [276]:
# Задание 4.7

number = 200
# number = 8
# number = 15
# number = 27
# number = 10
# number = 77

if number % 2 == 0:
    if number % 5 == 0:
        print(f'{number} делится на 2 и на 5')
    else:
        print(f'{number} делится на 2, но не делится на 5')
else:
    if number % 5 == 0:
        print(f'{number} не делится на 2, но делится на 5')
    else:
        print(f'{number} не делится ни на 2, ни на 5')

27 не делится ни на 2, ни на 5

In [277]:
print(bool(1024), bool(-8), bool(0))

True True False

In [280]:
# number = 5
number = 0

if number:
    print(10/number)
else:
    print("You can't divide by zero")

You can't divide by zero

In [281]:
print(bool('Hello World!'), bool(''))

True False

In [285]:
# password = '123'
password = ''

if not password:
    print('You forgot to enter password')
else:
    print('Password entered')

You forgot to enter password

In [286]:
print(bool([1, 2]), bool([]))

True False

In [289]:
# orders_list = [1]
orders_list = []

if not orders_list:
    print("You don't have any orders at the moment")
else:
    print("You have current orders")

You don't have any orders at the moment

In [292]:
a = 42
b = 41

if a > b:
    result = a
else:
    result = b
    
print(result)

42

In [293]:
result = a if a > b else b

In [295]:
cust_age = 18

print('Eligible for discount' if cust_age >= 60 else 'Not eligible for discount')

Not eligible for discount

In [298]:
cust_age = 63

answer_dict = {
    True: 'Eligible for discount',
    False: 'Not eligible for discount'
    }

print(answer_dict[cust_age >= 60])

Eligible for discount

In [302]:
# Задание 4.10

cust_age = 40
# cust_age = 68
# cust_age = 71

cust_discount = 10 if cust_age <= 60 else 20

print(cust_discount)

20

### 5 юнит

In [332]:
# Задача №1

now = '11:24:39'

hour, minute, second = now.split(':')
hour, minute, second = int(hour), int(minute), int(second)

# if (hour >= 6) and (hour < 12):
if 6 <= hour < 12:
    print('Утро')
else:
    print('День')

Утро

In [359]:
# Задача №2

x, y = (6.3, -5.3)
# x, y = (-1, 5)
# x, y = (0.1, 0.1)

if x > 0:
    if y > 0:
        print('I четверть')
    else:
        print('IV четверть')
else:
    if y > 0:
        print('II четверть')
    else:
        print('III четверть')

IV четверть

In [363]:
x, y = (0, 1)
# x, y = (0, 0)

if x > 0 and y > 0:
   print('I четверть')
if x < 0 and y > 0:
   print('II четверть')
if x < 0 and y < 0:
   print('III четверть')
if x > 0 and y < 0:
   print('IV четверть')
if x == 0 or y == 0:
   if x == 0 and y == 0:
      print('Точка находится в начале координат')
   else:
      print('Точка не принадлежит ни одной из четвертей')

Точка не принадлежит ни одной из четвертей

In [366]:
# Задание 5.1

time = 8
# time = 12
# time = 9
# time = 7
# time = 10

if 7 <= time <= 10:
    print('Пора вставать!')
else:
    print('Ты проспал!')

Пора вставать!

In [369]:
# Задание 5.2

target_word = 'quantity'
# target_word = 'apply'
# target_word = 'education'
# target_word = 'zero'

if ('q' in target_word) or ('z' in target_word):
    print('Ух ты! Вы ввели редкое слово!')
else:
    print('Это не очень редкое слово...')

Ух ты! Вы ввели редкое слово!

In [376]:
# Задание 5.3

height, weight, zodiac_sign  = 183, 78, 'козерог'
# height, weight, zodiac_sign  = 171, 75, 'весы'
# height, weight, zodiac_sign  = 183, 78, 'лев'
# height, weight, zodiac_sign  = 183, 78, 'дева'
# height, weight, zodiac_sign  = 188, 78, 'дева'

cond_height = height > 180
cond_weight = weight < 80
cond_zodiac_sign = zodiac_sign in ['весы', 'дева', 'овен', 'козерог']

if cond_height and cond_weight and cond_zodiac_sign:
    print('Ваша половинка нашлась!')
else:
    print('Попробуем поискать еще!')

Ваша половинка нашлась!