### 2 юнит

In [2]:
income_2019 = 15
income_2020 = 16.5
income_2021 = 16.5

# сравним прибыли на каждый год между собой
print(income_2019 == income_2020)
print(income_2020 == income_2021)

False
True

In [3]:
a = 14
a == 150

False

In [4]:
# сравним прибыли с помощью >=
print(income_2019 >= income_2020)
print(income_2020 >= income_2021)

False
True

In [14]:
print(ord('A'))    # Unicode
print(ord('a'))

65
97

In [13]:
name_user_1029 = 'Andrey'
name_user_1040 = 'Vladimir'
name_user_1042 = 'Andrey'

print(name_user_1029 == name_user_1040)
print(name_user_1029 == name_user_1042)

False
True

In [34]:
# target_string = 'коту тащат уток'
# target_string = 'Шалаш'
target_string = 'кота тащат в шалаш'

target_string_new = target_string.lower().replace(' ', '')[::-1]
result = target_string_new == target_string.lower().replace(' ', '')

result

False

In [38]:
print(not True)
print(not False)
print(not (5 == 10))
print(not ('abc' != 'bca'))

False
True
True
False

In [39]:
# находится ли значение в промежутке 0-4
a = 1
cond1 = 0 < a
cond2 = 4 > a
print(cond1 and cond2)

True

In [41]:
sym = 't'
cond3 = sym in 'Python'
cond4 = sym in 'django'
print(cond3 and cond4)

False

In [42]:
word1 = 'Institute'
word2 = 'University'
target_string = 'I graduated from the Moscow Aviation Institute in 2015, after which I got a job at…'
print((word1 in target_string) or (word2 in target_string))

True

In [43]:
print(('t' in 'Python') or ('t' in 'django'))

True

In [81]:
# Задание 2.8

a, b, c = 2, 5, 10
# a, b, c = 3, 5, 8

result = (a**2 > b) and (a**2 > c)

print(result)

False

In [80]:
# Задание 2.9

# diagnosis_1, diagnosis_2, diagnosis_3 = 'yes', 'yes', 'no'
diagnosis_1, diagnosis_2, diagnosis_3 = 'no', 'no', 'no'

result = (diagnosis_1 == 'yes') or (diagnosis_2 == 'yes') or (diagnosis_3 == 'yes')

print(result)

False

In [97]:
a = 'Hello World!'
print(id(a))    # id будет меняться каждый раз

2103497108976

In [101]:
a = 'simple string'
b = a
print(id(a), id(b))

2103466160240 2103466160240

In [102]:
print(id(a) == id(b))
print(a is b)

True
True

In [111]:
a = 15.35
b = 15.35
print(id(a), id(b))
print(a == b)
print(a is b)

2103444425072 2103496759280
True
False

In [106]:
x = 256
y = 256
print(id(x), id(y))
print(x == y, x is y)

140729065232792 140729065232792
True True