### 2 юнит

In [2]:
income_2019 = 15
income_2020 = 16.5
income_2021 = 16.5

# сравним прибыли на каждый год между собой
print(income_2019 == income_2020)
print(income_2020 == income_2021)

False
True

In [3]:
a = 14
a == 150

False

In [4]:
# сравним прибыли с помощью >=
print(income_2019 >= income_2020)
print(income_2020 >= income_2021)

False
True

In [14]:
print(ord('A'))    # Unicode
print(ord('a'))

65
97

In [13]:
name_user_1029 = 'Andrey'
name_user_1040 = 'Vladimir'
name_user_1042 = 'Andrey'

print(name_user_1029 == name_user_1040)
print(name_user_1029 == name_user_1042)

False
True

In [34]:
# target_string = 'коту тащат уток'
# target_string = 'Шалаш'
target_string = 'кота тащат в шалаш'

target_string_new = target_string.lower().replace(' ', '')[::-1]
result = target_string_new == target_string.lower().replace(' ', '')

result

False

In [38]:
print(not True)
print(not False)
print(not (5 == 10))
print(not ('abc' != 'bca'))

False
True
True
False

In [39]:
# находится ли значение в промежутке 0-4
a = 1
cond1 = 0 < a
cond2 = 4 > a
print(cond1 and cond2)

True

In [41]:
sym = 't'
cond3 = sym in 'Python'
cond4 = sym in 'django'
print(cond3 and cond4)

False

In [42]:
word1 = 'Institute'
word2 = 'University'
target_string = 'I graduated from the Moscow Aviation Institute in 2015, after which I got a job at…'
print((word1 in target_string) or (word2 in target_string))

True

In [43]:
print(('t' in 'Python') or ('t' in 'django'))

True

In [81]:
# Задание 2.8

a, b, c = 2, 5, 10
# a, b, c = 3, 5, 8

result = (a**2 > b) and (a**2 > c)

print(result)

False

In [80]:
# Задание 2.9

# diagnosis_1, diagnosis_2, diagnosis_3 = 'yes', 'yes', 'no'
diagnosis_1, diagnosis_2, diagnosis_3 = 'no', 'no', 'no'

result = (diagnosis_1 == 'yes') or (diagnosis_2 == 'yes') or (diagnosis_3 == 'yes')

print(result)

False

In [97]:
a = 'Hello World!'
print(id(a))    # id будет меняться каждый раз

2103497108976

In [101]:
a = 'simple string'
b = a
print(id(a), id(b))

2103466160240 2103466160240

In [102]:
print(id(a) == id(b))
print(a is b)

True
True

In [111]:
a = 15.35
b = 15.35
print(id(a), id(b))
print(a == b)
print(a is b)

2103444425072 2103496759280
True
False

In [106]:
x = 256
y = 256
print(id(x), id(y))
print(x == y, x is y)

140729065232792 140729065232792
True True

### 3 юнит

In [127]:
# Задача №1

orders = {
    '2022-10-10': ['F124', 'D89D', '142L'],
    '2022-10-11': ['H241', 'OR24', 'BE14', '348F'],
    '2022-10-12': ['H429', 'JAS2']
    }

target_string = 'BE14'

# поступал ли заказ в один из дней
print((target_string in orders['2022-10-10']) or \
      (target_string in orders['2022-10-11']) or \
      (target_string in orders['2022-10-12'])
    )

True

In [128]:
# Задача №2

message = 14693539613536593

print('5' not in str(message)[:6])

False

In [132]:
# Задание 3.1

N = 12043879584
# N = 59005085801
# N = 1023659713
# N = 1000000
# N = 3000000
# N = 17200000

contains = ('3' in str(N)) and ('7' in str(N))
print(contains)

True

In [139]:
# Задание 3.2

x, y = 'F', 7
# x, y = 'K', 1
# x, y = 'D', 2
# x, t = 'P', 2
# x, y = 'F', 15
# x, y = 'L', 9

hor = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
vert = list(range(1, 9))

move_is_correct = (x in hor) and (y in vert)

print(move_is_correct)

False

In [165]:
# Задача №3

available_packages = 105
total_count = 1677

cond1 = total_count % 13 == 0
cond2 = total_count // 13 <= available_packages
result = cond1 and cond2

print(result)

False

In [178]:
# Задание 3.3

N = 782
# N = 45901
# N = 2
# N = 15
# N = 0

source_num = int(str(N)[0])
first_is_even = (source_num % 2 == 0)

print(first_is_even)

False

In [199]:
# Задание 3.4

year = 2000
# year = 1900
# year = 2015
# year = 2022
# year = 2023

cond1 = year % 400 == 0
cond2 = (year % 4 == 0) and (year % 100 == 0)
year_is_leap = cond1 and cond2

print(year_is_leap)

False

In [217]:
# Задание 3.5

n, m, k = 5, 4, 8
# n, m, k = 5, 4, 3
# n, m, k = 5, 4, 25
# n, m, k = 4, 2, 8
# n, m, k = 4, 4, 7
# n, m, k = 4, 2, 9

cond1 = (n <= k) and (m <= k)
cond2 = (n*m) > k
cond3 = k % 2 == 0
result = cond1 and cond2 and cond3

print(result)

True

In [226]:
n = None
print(id(n))
n = None
print(id(n))

140729064179664
140729064179664

In [227]:
name = None
surname = None
second_name = None

print(name)

None

In [229]:
print(
    (id(name) == id(surname)) and \
    (id(surname) == id(second_name))
    )

True

In [231]:
print(surname is None)

True

In [234]:
# Задание 3.6

# phone = '+7 927 124 42 12'
phone = None

phone_is_defined = phone is not None

print(phone_is_defined)

False

In [237]:
product_dict = {'Сок яблочный': 15, 'Сок тыквенный': 10, 'Сок ананасовый': 5}
value = product_dict.get('Сок яблочный')
print(value)
print(value is None)

15
False

In [242]:
# Задание 3.7

invoice_number = '148902'
# invoice_number = '892421'
# invoice_number = '32'
# invoice_number = '893516'

arrival_of_goods = {
    '148902': {
        'Футболка с принтом': 180,
        'Свитшот черный': 245,
        'Джинсы серые': 252
    },
    '893516': {
        'Футболка с принтом': 43,
        'Свитшот черный': 64,
        'Джинсы черные': 102
    },
    '893481': {
        'Кружка керамическая': 35,
        'Свитшот черный': 10,
        'Джинсы сервые': 14
    }
}

invoice_exists = arrival_of_goods.get(invoice_number) is not None

True