### 0 юнит

In [1]:
import numpy as np

simplelist = [19, 242, 14, 152, 142, 1000]

np.mean(simplelist)

261.5

### 1 юнит

In [2]:
import pandas as pd

pd.__version__

'2.2.3'

In [3]:
# Задание 1.3

print(pd.__name__)

pandas

### 2 юнит

In [4]:
# Создание Series из списков с данными и индексами
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
    )

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [5]:
# Создание Series из словаря,
# в котором ключи - это индексы (index), а значения - данные (data)
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
    )

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [6]:
# Доступ к одному элементу и нескольким Series
print(countries.loc['UK'])
print(countries.loc[['US', 'RU']])

Англия
US       США
RU    Россия
Name: countries, dtype: object

In [7]:
# Доступ по индексу к элементу в Series
print(countries.iloc[6])

Казахстан

In [8]:
# Доступ по срезу к элементам (c 2 по 4) в Series
print(countries.iloc[1:4])

CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [9]:
# Задание 2.3

my_series = pd.Series(data=[5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f'])

# Извлекаем элементы 6, 7 и 9 из Series
print(my_series.loc[['b', 'c', 'e']])
print(my_series.iloc[[1, 2, 4]])

b    6
c    7
e    9
dtype: int64
b    6
c    7
e    9
dtype: int64

In [10]:
# Задание 2.4

import pandas as pd


names = ['chlorhexidine', 'cyntomycin', 'afobazol']     # названия препаратов
counts = [15, 18, 7]                                    # количество препаратов

# Создание Series из списков с данными и индексами
def create_medications(names, counts):
    result = pd.Series(index=names, data=counts)
    return result

# Функция для вычисления процента определенного препарата
def get_percent(medications, name):
    overall_quantity = medications.sum()
    target_quantity = medications.loc[name]
    target_proportion = (target_quantity*100) / overall_quantity
    return target_proportion


medications = create_medications(names, counts)     # создание Series
# print(get_percent(medications, 'chlorhexidine'))    # вывод процента препарата

### 3 юнит

In [11]:
# Создаем DataFrame из словаря
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })

display(countries_df)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [12]:
# Переименовываем индексы DataFrame
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [13]:
# Создание DataFrame из списков с данными, названиями колонок и индексами
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
        ],
    columns = ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
    )
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [14]:
# Считаем среднее значение по строкам
countries_df.mean(axis=0, numeric_only=True)

population    9.070000e+01
area          5.800860e+06
dtype: float64

In [15]:
# Считаем среднее значение по столбцам
countries_df.mean(axis=1, numeric_only=True)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [16]:
# Извлекаем столбец 'population' из DataFrame
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [17]:
# Извлекаем столбец 'population' по индексу из DataFrame
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [18]:
# При извлечении столбца DataFrame получаем Series
type(countries_df.population)

pandas.core.series.Series

In [19]:
# Извлекаем ячейку из DataFrame
print('Площадь Великобритании: ', countries_df.loc['UK', 'area'])

Площадь Великобритании:  133396

In [20]:
# Извлекаем несколько ко ячеек из DataFrame
print('Население и площадь России:', countries_df.loc['RU', ['population', 'area']], sep='\n')

Население и площадь России:
population      146.24
area          17125191
Name: RU, dtype: object

In [21]:
# Делаем вырезку по строкам и столбцам из DataFrame
print('Население и площадь Украины, Беларуси, Казахстана:', 
      countries_df.loc[['UA', 'BY', 'KZ'], ['population', 'area']], sep='\n')

Население и площадь Украины, Беларуси, Казахстана:
    population     area
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [22]:
# Делаем вырезку по строкам и столбцам из DataFrame с помощью iloc
print('Население и площадь Украины, Беларуси, Казахстана:', 
      countries_df.iloc[4:7, 1:3], sep='\n')

Население и площадь Украины, Беларуси, Казахстана:
    population     area
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [23]:
# Задание 3.4

# Создание DataFrame из списков и словаря
print(pd.DataFrame(data=[[0, 1], [1, 0]], columns=['A', 'B']))
print(pd.DataFrame({'A': [0, 1], 'B': [1, 0]}))

   A  B
0  0  1
1  1  0
   A  B
0  0  1
1  1  0

In [24]:
# Задание 3.5

import pandas as pd

# Исходные данные
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

# Создание DataFrame из данных
def create_companyDF(income, expenses, years):
    result = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
        }, index=years)
    return result

# Функция для вычисления прибыли за определенный год
def get_profit(df, year):
    if year in df.index:
        row_year = df.loc[year]
        return row_year.Income - row_year.Expenses
    return None


df = create_companyDF(income, expenses, years) # создание DataFrame

# вывод разницы между доходами и расходами за 2020 год
# print(get_profit(df, 2020))

### 4 юнит

In [25]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })

# Сохраняем DataFrame в CSV файл
countries_df.to_csv('data/countries.csv', sep=';', index=False)

In [26]:
# Читаем и записываем DataFrame из CSV файла
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [27]:
link = 'https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv'
data = pd.read_csv(link, index_col=0)
display(data)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,3016.0,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

### 5 юнит

In [28]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

In [29]:
# Задание 5.1

# Цена объекта недвижимости с индексом 15
melb_data.loc[15, 'Price']

1310000.0

In [30]:
# Задание 5.2

# Дата продажи объекта недвижимости с индексом 90
melb_data.loc[90, 'Date']

'10/09/2016'

In [31]:
# Задание 5.3

# Во сколько раз больше площадь участка двух объектов недвижимости
property1 = melb_data.loc[3521, 'Landsize']
property2 = melb_data.loc[1690, 'Landsize']
print(round(property1 / property2))

3

### 6 юнит

In [32]:
# Вывод первых 5 строк DataFrame
display(melb_data.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [33]:
# Вывод 7 последних строк DataFrame
display(melb_data.tail(7))

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13573,13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,...,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0,"-37.89327, 144.64789"
13574,13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,...,2.0,256.0,126.0,1970.0,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0,"-37.67917, 144.8939"
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

In [34]:
# Вывод случайной строки DataFrame
display(melb_data.sample())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
8772,8772,Cheltenham,4/3 MacKenzie St,2,u,425000.0,S,Purplebricks,1/07/2017,17.9,...,1.0,0.0,126.0,1970.0,Bayside,-37.97143,145.05219,Southern Metropolitan,9758.0,"-37.97143, 145.05219"

In [35]:
# Вывод размера DataFrame
melb_data.shape

(13580, 23)

In [36]:
# Вывод детальной информации о DataFrame
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [37]:
# Вывод списка колонок DataFrame
melb_data.columns

Index(['index', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'Coordinates'],
      dtype='object')

In [38]:
# Меняем тип данных в колонках на более подходящий
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [39]:
# Выведем статистическую информацию о DataFrame
melb_data.describe()

,index,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,6789.500000,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.611856,558.416127,139.633972,1966.788218,-37.809203,144.995216,7454.417378
std,3920.352663,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.960793,3990.669241,392.217403,29.088642,0.079260,0.103916,4378.581772
min,0.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,3394.750000,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,122.000000,1960.000000,-37.856822,144.929600,4380.000000
50%,6789.500000,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,10184.250000,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,129.940000,1975.000000,-37.756400,145.058305,10331.000000
max,13579.000000,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [40]:
# Выведем статистическую информацию только по нескольким числовым колонкам
print(melb_data.loc[:, ['Distance', 'BuildingArea', 'Price']].describe())

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [41]:
# Выводим стастистическую информацию по столбцам с типом данных object
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [42]:
# Выведем частость уникальных значений в колонке 'Regionname'
melb_data['Regionname'].value_counts()

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

In [43]:
# # Выведем частость уникальных значений в колонке 'Regionname' в процентах
melb_data['Regionname'].value_counts(normalize=True)

Regionname
Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: proportion, dtype: float64

In [44]:
# Задание 6.9

# Сколько %% от общего количества домов составляют таунхаусы
round(melb_data['Type'].value_counts(normalize=True)['t'] * 100)

8

### 7 юнит

In [45]:
# Средняя цена на недвижимость
melb_data['Price'].mean()

1075684.079455081

In [46]:
# Найдем максимальное количество парковочных мест
melb_data['Car'].max()

10

In [47]:
# Находим общую прибыль всех компаний за продажу
realtor_rate = 0.12
round(melb_data['Price'].sum() * realtor_rate, 2)

1752934775.88

In [48]:
# Вычислим модуль разницы между медианой и средним и
# разделим результат на среднее, чтобы получить отклонение в долях
landsize_median = melb_data['Landsize'].median()
landsize_mean = melb_data['Landsize'].mean()
landsize_diff = np.abs(landsize_median - landsize_mean) / landsize_mean
landsize_diff

0.21205713983546193

In [49]:
# Вычислим, какое число комнат чаще всего представлено на рынке
melb_data['Rooms'].mode()

0    3
Name: Rooms, dtype: int64

In [50]:
# Выведем самое распространенное название района
melb_data['Regionname'].mode()

0    Southern Metropolitan
Name: Regionname, dtype: object

In [51]:
# Задание 7.2

#  Максимальное количество домов на продажу в районе
melb_data['Propertycount'].max()

21650

In [52]:
# Задание 7.3

# Стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости
round(melb_data['Distance'].std())

6

In [53]:
# Задание 7.4

# Вычисляем отклонение (в процентах) медианного значения площади здания от его среднего значения
barea_median = melb_data['BuildingArea'].median()
barea_mean = melb_data['BuildingArea'].mean()
barea_diff = round(abs(barea_median - barea_mean) / barea_mean * 100)
barea_diff

10

In [54]:
# Задание 7.6

# Сколько спален чаще всего встречается в домах в Мельбурне
melb_data['Bedroom'].mode()

0    3
Name: Bedroom, dtype: int64

### 8 юнит

In [ ]:
# Создаем маску для фильтрации данных
mask = melb_data['Price'] > 2_000_000
print(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

In [ ]:
# Подставим маску в DataFrame
display(melb_data[mask].head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

In [ ]:
# Количество домов с 3 комнатами
melb_data[melb_data['Rooms'] == 3].shape[0]

5881

In [ ]:
# Количество домов с 3 комнатами и стоимость менее 300 тыс.
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300_000)].shape[0]

3

In [ ]:
# Количество домов с ценой менее 300 тыс. у которых либо 3 комнаты либо площадь более 100 кв.м
melb_data[(melb_data['Price'] < 300_000) & ((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100))].shape[0]

68

In [79]:
# Максимальное количество комнат в объектах типа таунхаус
mask = melb_data['Type'] == 't'
melb_data[mask]['Rooms'].max()

5

In [ ]:
# Найдем медианную площадь здания у объектов, чья цена выше средней
mask = melb_data['Price'] > melb_data['Price'].mean()
melb_data[mask]['BuildingArea'].median()

126.0

In [ ]:
# Задание 8.1

# У скольки объектов недвижимости нет ванной комнаты
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [ ]:
# Задание 8.2

# Сколько объектов стоимостью более 3 мил. были проданы фирмой Nelson
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3_000_000)].shape[0]

5

In [ ]:
# Задание 8.3

# Какова минимальная стоимость участка без здания
round(melb_data[melb_data['BuildingArea'] == 0]['Price'].min())

412500

In [111]:
# Задание 8.4

# Какова средняя цена объектов с ценой менее 1 мил.,
# которые имеют 5 комнат либо здание моложе 2015 г.
mask1 = melb_data['Price'] < 1_000_000
mask2 = (melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)
round(melb_data[mask1 & mask2]['Price'].mean())

769239

In [122]:
# Задание 8.5

# В каком райне чаще всего продаются виллы и коттеджи стоимостью менее 3 мил.
mask = (melb_data['Type'] == 'h') & (melb_data['Price'] < 3_000_000)
melb_data[mask]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

### 9 юнит

In [126]:
student_data = pd.read_csv('data/students_performance.csv')
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [127]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# Задание 9.1

# Количество записей
student_data.shape[0]

1000

In [ ]:
# Задание 9.2

# Балл по письму у студента под индексом 155
student_data.loc[155, 'writing score']

88

In [ ]:
# Задание 9.4

# Сколько столбцов имеет тип данных object
(student_data.dtypes == 'object').sum()

5

In [144]:
# Задание 9.5

# Какой объём памяти (в килобайтах) занимает таблица
round(student_data.memory_usage().sum() / 1024)

63

In [ ]:
# Задание 9.6

# Средний балл по математике
round(student_data['math score'].mean())

66

In [ ]:
# Задание 9.7

# Какая расовая группа является самой крупной
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [ ]:
# Задание 9.8

# Средний балл по чтению у студентов посещавших курсы подготовки
mask = student_data['test preparation course'] == 'completed'
round(student_data[mask]['reading score'].mean())

74

In [ ]:
# Задание 9.9

# Сколько студентов получили 0 баллов по математике
student_data[student_data['math score'] == 0].shape[0]

1

In [188]:
# Задание 9.10

# Проверяем гипотезу о том, что студенты с платным питанием учатся лучше

lunch_paid = student_data['lunch'] == 'standard'
lunch_free = student_data['lunch'] == 'free/reduced'

lunch_paid_math_mean = student_data[lunch_paid]['math score'].mean()
lunch_free_math_mean = student_data[lunch_free]['math score'].mean()

print('Средний балл по математике:')
print('- у студентов с платным питанием: ', round(lunch_paid_math_mean))
print('- у студентов с платным питанием: ', round(lunch_free_math_mean))

Средний балл по математике:
- у студентов с платным питанием:  70
- у студентов с платным питанием:  59

In [189]:
# Задание 9.11

# Каков процент студентов, родители которых имеют высшее образование
education_counts = student_data['parental level of education'].value_counts(normalize=True)
bachelors_percentage = education_counts.loc['bachelor\'s degree'] * 100
round(bachelors_percentage)

12

In [ ]:
# Задание 9.12

# Насколько медианный балл по письму у студентов в расовой группе А
# отличается от среднего балла по письму у студентов в расовой группе C?

group_a_write = student_data[student_data['race/ethnicity'] == 'group A']
group_c_write = student_data[student_data['race/ethnicity'] == 'group C']

group_a_write_median = group_a_write['writing score'].median()
group_c_write_mean = group_c_write['writing score'].mean()

print(abs(round(group_a_write_median - group_c_write_mean)))

6