### 0 юнит

In [1]:
import numpy as np

simplelist = [19, 242, 14, 152, 142, 1000]

np.mean(simplelist)

261.5

### 1 юнит

In [2]:
import pandas as pd

pd.__version__

'2.2.3'

In [3]:
# Задание 1.3

print(pd.__name__)

pandas

### 2 юнит

In [4]:
# Создание Series из списков с данными и индексами
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
    )

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [5]:
# Создание Series из словаря,
# в котором ключи - это индексы (index), а значения - данные (data)
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
    )

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [6]:
# Доступ к одному элементу и нескольким Series
print(countries.loc['UK'])
print(countries.loc[['US', 'RU']])

Англия
US       США
RU    Россия
Name: countries, dtype: object

In [7]:
# Доступ по индексу к элементу в Series
print(countries.iloc[6])

Казахстан

In [8]:
# Доступ по срезу к элементам (c 2 по 4) в Series
print(countries.iloc[1:4])

CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [9]:
# Задание 2.3

my_series = pd.Series(data=[5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f'])

# Извлекаем элементы 6, 7 и 9 из Series
print(my_series.loc[['b', 'c', 'e']])
print(my_series.iloc[[1, 2, 4]])

b    6
c    7
e    9
dtype: int64
b    6
c    7
e    9
dtype: int64

In [10]:
# Задание 2.4

import pandas as pd


names = ['chlorhexidine', 'cyntomycin', 'afobazol']     # названия препаратов
counts = [15, 18, 7]                                    # количество препаратов

# Создание Series из списков с данными и индексами
def create_medications(names, counts):
    result = pd.Series(index=names, data=counts)
    return result

# Функция для вычисления процента определенного препарата
def get_percent(medications, name):
    overall_quantity = medications.sum()
    target_quantity = medications.loc[name]
    target_proportion = (target_quantity*100) / overall_quantity
    return target_proportion


medications = create_medications(names, counts)     # создание Series
# print(get_percent(medications, 'chlorhexidine'))    # вывод процента препарата

### 3 юнит

In [22]:
# Создаем DataFrame из словаря
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })

display(countries_df)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [23]:
# Переименовываем индексы DataFrame
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [24]:
# Создание DataFrame из списков с данными, названиями колонок и индексами
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
        ],
    columns = ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
    )
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [28]:
# Считаем среднее значение по строкам
countries_df.mean(axis=0, numeric_only=True)

population    9.070000e+01
area          5.800860e+06
dtype: float64

In [29]:
# Считаем среднее значение по столбцам
countries_df.mean(axis=1, numeric_only=True)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [30]:
# Извлекаем столбец 'population' из DataFrame
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [31]:
# Извлекаем столбец 'population' по индексу из DataFrame
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [32]:
# При извлечении столбца DataFrame получаем Series
type(countries_df.population)

pandas.core.series.Series

In [40]:
# Извлекаем ячейку из DataFrame
print('Площадь Великобритании: ', countries_df.loc['UK', 'area'])

Площадь Великобритании:  133396

In [41]:
# Извлекаем несколько ко ячеек из DataFrame
print('Население и площадь России:', countries_df.loc['RU', ['population', 'area']], sep='\n')

Население и площадь России:
population      146.24
area          17125191
Name: RU, dtype: object

In [42]:
# Делаем вырезку по строкам и столбцам из DataFrame
print('Население и площадь Украины, Беларуси, Казахстана:', 
      countries_df.loc[['UA', 'BY', 'KZ'], ['population', 'area']], sep='\n')

Население и площадь Украины, Беларуси, Казахстана:
    population     area
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [44]:
# Делаем вырезку по строкам и столбцам из DataFrame с помощью iloc
print('Население и площадь Украины, Беларуси, Казахстана:', 
      countries_df.iloc[4:7, 1:3], sep='\n')

Население и площадь Украины, Беларуси, Казахстана:
    population     area
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [52]:
# Задание 3.4

# Создание DataFrame из списков и словаря
print(pd.DataFrame(data=[[0, 1], [1, 0]], columns=['A', 'B']))
print(pd.DataFrame({'A': [0, 1], 'B': [1, 0]}))

   A  B
0  0  1
1  1  0
   A  B
0  0  1
1  1  0

In [76]:
# Задание 3.5

import pandas as pd

# Исходные данные
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

# Создание DataFrame из данных
def create_companyDF(income, expenses, years):
    result = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
        }, index=years)
    return result

# Функция для вычисления прибыли за определенный год
def get_profit(df, year):
    if year in df.index:
        row_year = df.loc[year]
        return row_year.Income - row_year.Expenses
    return None


df = create_companyDF(income, expenses, years) # создание DataFrame

# вывод разницы между доходами и расходами за 2020 год
# print(get_profit(df, 2020))

### 4 юнит

In [81]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })

# Сохраняем DataFrame в CSV файл
countries_df.to_csv('data/countries.csv', sep=';', index=False)

In [ ]:
# Читаем и записываем DataFrame из CSV файла
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [90]:
link = 'https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv'
data = pd.read_csv(link, index_col=0)
display(data)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,3016.0,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

### 5 юнит

In [95]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [ ]:
# Задание 5.1

# Цена объекта недвижимости с индексом 15
melb_data.loc[15, 'Price']

1310000.0

In [ ]:
# Задание 5.2

# Дата продажи объекта недвижимости с индексом 90
melb_data.loc[90, 'Date']

'10/09/2016'

In [ ]:
# Задание 5.3

# Во сколько раз больше площадь участка двух объектов недвижимости
property1 = melb_data.loc[3521, 'Landsize']
property2 = melb_data.loc[1690, 'Landsize']
print(round(property1 / property2))

3

### 6 юнит