## Домашняя работа по вебинару по основам Numpy и Pandas»

Дата проведения: 06.11.22. Спикер: Андрей Рысистов

Вам предоставлен датасет о смертях персонажей сериала "Игра престолов". Данные можно скачать по ссылке: https://raw.githubusercontent.com/AndreyRysistov/VebinarDST/main/character-deaths.csv

Исходный источник данных: https://www.kaggle.com/mylesoneill/game-of-thrones

Вам предстоить ответить на несколько вопросов:

1. В каком случае персонажи умирают чаще, когда они верны Ланистерам или Старкам (столбец Allegiances)?
2. В какой книге умерло больше всего персонажей? (столбец Book of Death)
3. Каково соотношение погибнувших женщин и мужчин? (столбец Gender, 1- мужчина, 0 - женщина)
4. Что вы можете сказать о том, есть ли зависимость вероятности смерти персонажа от его титула? (столбец Nobility, 1 - есть титул, 0 - простолюдин)

----

1. Импортируйте библиотеки numpy и pandas, а также подгружаем датасет.

In [103]:
import pandas as pd


got_df = pd.read_csv('data/character-deaths.csv')
got_df.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),NaN,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

2. Изучаем датасет

In [104]:
got_df.sample(3)

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
255,Fornio,Night's Watch,NaN,NaN,NaN,33.0,1,0,0,0,1,0,0
198,Donnel Waynwood,Tully,NaN,NaN,NaN,34.0,1,1,1,0,0,0,0
244,Erryk (Guard),House Tyrell,NaN,NaN,NaN,6.0,1,0,0,0,1,1,0

In [105]:
got_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917 entries, 0 to 916
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                917 non-null    object
 1   Allegiances         664 non-null    object
 2   Death Year          305 non-null    float64
 3   Book of Death       307 non-null    float64
 4   Death Chapter       299 non-null    float64
 5   Book Intro Chapter  905 non-null    float64
 6   Gender              917 non-null    int64
 7   Nobility            917 non-null    int64
 8   GoT                 917 non-null    int64
 9   CoK                 917 non-null    int64
 10  SoS                 917 non-null    int64
 11  FfC                 917 non-null    int64
 12  DwD                 917 non-null    int64
dtypes: float64(4), int64(7), object(2)
memory usage: 93.3+ KB

In [106]:
got_df.describe(include='all')

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
count,917,664,305.000000,307.000000,299.000000,905.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000
unique,916,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Myles,Night's Watch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,299.157377,2.928339,40.070234,28.861878,0.828790,0.468920,0.272628,0.353326,0.424209,0.272628,0.284624
std,NaN,NaN,0.703483,1.326482,20.470270,20.165788,0.376898,0.499305,0.445554,0.478264,0.494492,0.445554,0.451481
min,NaN,NaN,297.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,299.000000,2.000000,25.500000,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,299.000000,3.000000,39.000000,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,300.000000,4.000000,57.000000,43.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,NaN,NaN,300.000000,5.000000,80.000000,80.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

---

Задание 1

In [107]:
lann_df = got_df[got_df['Allegiances'] == 'Lannister']
stark_df = got_df[got_df['Allegiances'] == 'Stark']

print(f'Персонажи верные дому Ланистеров умерли на {
    round((lann_df.shape[0] - stark_df.shape[0]) / lann_df.shape[0], 3)} раз чаще, чем персонажи верные Старкам')

Персонажи верные дому Ланистеров умерли на 0.099 раз чаще, чем персонажи верные Старкам

Задание 2

In [108]:
print('Количество персонажей умерших в цикле:')
print(f'В книге "Игра престолов": {got_df['GoT'].sum()}')
print(f'В книге "Битва королей": {got_df['CoK'].sum()}')
print(f'В книге "Буря мечей": {got_df['SoS'].sum()}')
print(f'В книге "Пир стервятников": {got_df['FfC'].sum()}')
print(f'В книге "Танец с драконами": {got_df['DwD'].sum()}')

Количество персонажей умерших в цикле:
В книге "Игра престолов": 250
В книге "Битва королей": 324
В книге "Буря мечей": 389
В книге "Пир стервятников": 250
В книге "Танец с драконами": 261

Задание 3

In [109]:
gender_list = got_df['Gender'].value_counts(normalize=True)
print(f'Соотношение погибших женщин к мужчинам: {round(gender_list[0] / gender_list[1], 2)}')

Соотношение погибших женщин к мужчинам: 0.21

Задание 4