In [16]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import pandas as pd

### 3 юнит

Предобработка данных

In [17]:
covid_data = pd.read_csv('data/covid_data.csv')
covid_data.head(3)

         date province/state country  confirmed  deaths  recovered
0  01/22/2020          Anhui   China        1.0     0.0        0.0
1  01/22/2020        Beijing   China       14.0     0.0        0.0
2  01/22/2020      Chongqing   China        6.0     0.0        0.0

In [18]:
vaccination_data = pd.read_csv('data/country_vaccinations.csv')
vaccination_data = vaccination_data[
    ['country', 'date', 'total_vaccinations',
     'people_vaccinated', 'total_vaccinations_per_hundred',
     'people_fully_vaccinated','people_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']]
vaccination_data.head(3)

,country,date,total_vaccinations,people_vaccinated,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.0,NaN,0.0,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [ ]:
# Группируем данные по дате и стране,
# суммируя подтвержденные случаи, смерти и выздоровления
covid_data = covid_data.groupby(
    ['date', 'country'], as_index=False
    )[['confirmed', 'deaths', 'recovered']].sum()

covid_data.head(3)

         date      country  confirmed  deaths  recovered
0  01/01/2021  Afghanistan    51526.0  2191.0    41727.0
1  01/01/2021      Albania    58316.0  1181.0    33634.0
2  01/01/2021      Algeria    99897.0  2762.0    67395.0

In [ ]:
# Преобразуем столбец 'date' в формат datetime
covid_data['date'] = pd.to_datetime(covid_data['date'])

In [ ]:
# Вычисляем количество активных случаев
covid_data['active'] = covid_data['confirmed'] - covid_data['deaths'] \
                       - covid_data['recovered']

In [31]:
# Сортируем данные по стране и дате
covid_data = covid_data.sort_values(by=['country', 'date'])

# Вычисляем ежедневные изменения для подтвержденных случаев, смертей и выздоровлений
covid_data['daily_confirmed'] = covid_data.groupby('country')['confirmed'].diff()
covid_data['daily_deaths'] = covid_data.groupby('deaths')['confirmed'].diff()
covid_data['daily_recovered'] = covid_data.groupby('country')['recovered'].diff()

covid_data.head(3)

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered
11337,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN
11570,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
11807,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [33]:
# Преобразуем столбец 'date' в формат datetime
vaccination_data['date'] = pd.to_datetime(vaccination_data['date'])
vaccination_data.head(3)

,country,date,total_vaccinations,people_vaccinated,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.0,NaN,0.0,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [45]:
# Задание 3.1

# Определяем первый и последний дни в наборе данных
covid_data['date'].agg(['min', 'max'])

min   2020-01-22
max   2021-05-29
Name: date, dtype: datetime64[ns]

In [ ]:
# Задание 3.2

# Определяем первый и последний дни в наборе данных
vaccination_data['date'].agg(['min', 'max'])

min   2020-12-02
max   2021-09-06
Name: date, dtype: datetime64[ns]

In [56]:
# Задание 3.3

# Объединяем два датафрейма по столбцам 'date' и 'country'
covid_df = covid_data.merge(
    vaccination_data,
    on=['date', 'country'], how='left')

# Проверяем размер объединенного датафрейма
covid_df.shape

(86785, 16)